.header__main {
    border: 5px black solid;
    border-radius: 20px;
    background-color: white;
    margin: 30px;
    box-shadow: 10px 10px 10px rgb(41, 38, 38)
}

.image {
    border: 5px black solid;
    box-shadow: 10px 10px 10px rgb(41, 38, 38)
}

.header__sub {
    border: 5px black solid;
    border-radius: 20px;
    background-color: white;
    margin: 30px;
    box-shadow: 10px 10px 10px rgb(41, 38, 38)
}