html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(146, 178, 221, 1);
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
    text-align: center;
}

.button {
    margin: auto;
    text-align: center;
}

.navigation {
    list-style: none;
}

.navigation__sub {
    margin: 10px;
}

.navigation__link {
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.navigation__link:hover {
    color: yellow;
}

.colorChange {
    background-color: rgb(230, 201, 206);
}